@section header
{
      <link href="~/Content/css/main.css"  media="all" rel="stylesheet" />
}
<div class="panel_box row">
    <div class="panel col">
        <a href="javascript:;" data-url="/orgmanager/index">
            <div class="panel_icon">
                <i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
            </div>
            <div class="panel_word orgs">
                <span></span>
                <cite>机构总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/Rolemanager/index">
            <div class="panel_icon" style="background-color:#FF5722;">
                <i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
            </div>
            <div class="panel_word roles">
                <span></span>
                <cite>角色总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/UserManager/Index">
            <div class="panel_icon" style="background-color:#009688;">
                <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
            </div>
            <div class="panel_word userAll">
                <span></span>
                <cite>用户总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/forms/index">
            <div class="panel_icon" style="background-color:#5FB878;">
                <i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
            </div>
            <div class="panel_word forms">
                <span></span>
                <cite>表单总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/flowinstances/index">
            <div class="panel_icon" style="background-color:#F7B824;">
                <i class="iconfont icon-wenben" data-icon="icon-wenben"></i>
            </div>
            <div class="panel_word flows">
                <span></span>
                <cite>我的流程</cite>
            </div>
        </a>
    </div>
    <div class="panel col max_panel">
        <a href="javascript:;" data-url="/flowschemes/index">
            <div class="panel_icon" style="background-color:#2F4056;">
                <i class="iconfont icon-text" data-icon="icon-text"></i>
            </div>
            <div class="panel_word flowschemes">
                <span></span>
                <cite>流程模板</cite>
            </div>
        </a>
    </div>
</div>
<blockquote class="layui-elem-quote explain">

</blockquote>
<div class="row">
   
</div>

<script type="text/javascript" src="~/Content/layui/layui.js"></script>
<script type="text/javascript" src="~/Content/userJs/main.js"></script>