<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OpenAuthDBEntities" connectionString="metadata=res://*/Entity.OpenAuthDB.csdl|res://*/Entity.OpenAuthDB.ssdl|res://*/Entity.OpenAuthDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OpenAuthDB;user id=sa;password=XJ199557;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>